@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/GillSans-Regular.woff2') format('woff2'),
       url('/fonts/GillSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
  /* prevent horizontal scroll */
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: inherit;
}

.nav-link {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 19px;
  color: #193F6F !important;
  letter-spacing: 0.2px;
}

.nav-link:hover {
  color: #193f6f !important;
  font-weight: bold;
}


.nav-link.active {
  color: #193f6f !important;
  /* Change to your highlight color */
  font-weight: bold;
  /* Optional: make it bold */
  border-bottom: 2px solid #193f6f;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  /* Optional underline effect */
}

.features-section {
  padding: 60px 15px;
  text-align: center;
}

.features-title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 40px;
  color: #003366;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: clamp(20px, 2.5vw, 35px);
}

.feature-head {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: rgba(25, 63, 111, 1);
}

.feature-content {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgba(0, 0, 0, 1) !important;
  font-weight: 600;
  font-size: 30px !important;
}

.icon {
  background: rgba(246, 242, 241, 1) !important;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.icon img {
  width: 50px;
}

.logo-text {
  font-family: "Barlow Condensed", sans-serif !important;
  font-size: 22px !important;
  font-weight: 500;
  color: #193F6F !important;
}

.logo-text span {
  font-family: "Barlow Condensed", sans-serif !important;
  font-size: 19px !important;
  font-weight: 500;
  color: #193F6F !important;
}

.feature-card {
  position: relative;
  background: rgba(246, 242, 241, 1) !important;
  border-radius: 12px;
  padding: 30px 20px;
  /* margin-bottom: 30px; */
  text-align: center;
  box-shadow: 7.93px 3.52px 3.52px 0px rgba(74, 199, 233, 1);
  transition: transform 0.3s ease-in-out;
  min-height: 220px;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-icon {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #002B5B;
}

.feature-card h5 {
  font-weight: bold;
  color: #002B5B;
  margin-top: 15px;
  z-index: 2;
  position: relative;
  margin-bottom: 15px;
}

.feature-card p {
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
}

.feature-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  box-shadow: 7.93px 3.52px 3.52px 0px rgba(74, 199, 233, 1);
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.feature-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #002B5B;
}

.feature-text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  color: #333;
}

.sponsor-hero-section span {
  font-weight: 500;
}


.sponsor-hero-section h2 {
  color: rgba(25, 63, 111, 1);
  /* font-family: 'Barlow Condensed', sans-serif; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 44px;
  font-style: italic;
}

.custom-list {
  list-style-type: disc;
  /* or none if you're adding your own bullet */
  padding-left: 1.5em;
  /* controls overall indentation */
}

.custom-list li {
  list-style-position: outside;
  padding-left: 13px; /* adjust spacing */
}
.custom-list li::marker {
  font-size: 1.5rem;
  /* size of bullet */
  margin-right: 1em;
  /* adds space after bullet */
}

.sponsor-form-heading {
  background: rgba(25, 63, 111, 1);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 60%;
}

.sponsor-form .form-control,
.sponsor-form .form-select {
  padding: 14px;
}

.sponsor-form .form-label {
  font-family: 'Barlow Condensed', sans-serif;
  color: rgba(25, 63, 111, 1);
  font-size: 24px;
  font-weight: 500;
}

.sponsor-form .btn {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(90deg, #193F6F 0%, #3079D5 48.56%);
  color: #fff;
  width: 100%;
  border-radius: 10px !important;
  padding: 10px !important;
  font-size: 24px;
  font-family: "Barlow Condensed", sans-serif !important;
  font-weight: 700;
}

.footer h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 800;
  text-align: center;
  color: rgba(25, 63, 111, 1);
  font-size: 18px;
  text-transform: uppercase;
}

.footer p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  text-align: center;
  color: rgba(25, 63, 111, 1);
  font-size: 18px;
}


.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-primary {
  background-color: #193F6F !important;
}

.back-to-top:hover {
  background: transparent !important;
  color: #193F6F !important;
  border: 1px solid #193F6F;
}

.back-to-top:hover i {
  color: #193F6F !important;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 0px;
}

.back-to-top {
  position: fixed;
  display: none;
  left: 45px;
  bottom: 45px;
  z-index: 99;
}

.back-to-top:hover i {
  color: #193f6f !important;
}

.back-to-top i {
  font-size: 1.5rem;
  /* make it bigger */
  color: white;
  /* visible on dark bg */
}

/* Form */
.form-container {
  max-width: 600px;
  /* margin: auto; */
  background-color: transparent;
  /* padding: 20px; */
  background-color: #4AC7E9;
}

.form-title {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #004A7F;
  /* Dark blue header */
  color: white;
  padding: 7px 50px 7px 30px;
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
}

.form-label {
  color: #193F6F;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 26px;
  font-weight: 500;
}

.form-check-label {
  color: #193F6F !important;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 22px !important;
  font-weight: 400;
}

.form-control,
.form-select {
  font-family: 'Barlow Condensed', sans-serif;
  border-radius: 8px;
  padding: 12px;
}

.form-control:focus {
  border: 2px solid #193f6f !important;
  box-shadow: 0 0 0 .25rem #193f6f;
}

.browse-btn {
  background-color: #FAD802;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
}

.form-check-input {
  height: 30px;
  width: 50px;
  border: 2px solid #193F6F;
  border-radius: 5px;
  gap: 10px;
  background-color: transparent;
}

.form-check-input-2 {
  height: 30px;
  width: 30px;
  border: 2px solid #193F6F;
  border-radius: 5px;
  gap: 10px;
}

.star {
  color: #ff0000;
}

.form-check {
  display: flex;
  align-items: center;
  /* vertically align checkbox & text */
  gap: 10px;
  /* space between checkbox and text */
}

.form-check-label {
  margin-bottom: 0;
  /* remove default spacing */
}

.form-check-input:checked {
  background-color: #193f6f;
  border-color: #193f6f;
}

.add-file-btn {
  background: linear-gradient(to right, #0059B2, #2B82E1);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
}

.upload-btn {
  background: linear-gradient(to right, #003F73, #2B82E1);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 1.2rem;
  width: 100%;
  font-weight: bold;
}

.checkbox-label {
  font-size: 0.9rem;
  color: #002D40;
}

.modal-btn {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  background-color: #193F6F;
  color:#fff;
  border-radius: 10px;
  padding: 10px 20px;
  border:none;
}

.modal-btn:hover{
  background-color: #193F6F;
  color:#fff;
}


.modal-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #193F6F;
}

/* Form css end */

@media(max-width:767px) {
  .custom-list li {
    list-style-position: outside;
    padding-left: 8px; /* adjust spacing */
  }
  .sponsor-hero-section h2 {
    color: rgba(25, 63, 111, 1);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-style: italic;
  }

  .feature-head {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: rgba(25, 63, 111, 1);
  }

  .feature-content {
    font-size: 20px !important;
  }

  .icon {
    background: rgba(246, 242, 241, 1) !important;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .icon img {
    width: 30px;
  }

  .logo-text {
    font-size: 18px !important;
  }

  .logo-text span {
    font-size: 15px !important;
  }

  .sponsor-hero-section span {
    /* margin-left: 10px; */
  }

  .sponsor-form-heading {
    width: 90%;
  }
}

@media(min-width:768px) and (max-width:992px) {
  .sponsor-hero-section h2 {
    color: rgba(25, 63, 111, 1);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    font-style: italic;
  }

  .feature-head {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: rgba(25, 63, 111, 1);
  }

  .feature-content {
    font-size: 24px !important;
  }

  .icon {
    background: rgba(246, 242, 241, 1) !important;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .icon img {
    width: 40px;
  }
}